<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Add Job</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <ion-item>
      <ion-label position="stacked">Title</ion-label>
      <ion-input formControlName="title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Description</ion-label>
      <ion-input formControlName="description"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Location</ion-label>
      <ion-input formControlName="location" readonly></ion-input>
    </ion-item>

    <div id="map" style="height: 300px; border-radius: 10px;"></div>

    <ion-item>
      <ion-label position="stacked">Salary</ion-label>
      <ion-input type="number" formControlName="salary"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="form.invalid" class="ion-margin-top">
      Create
    </ion-button>
  </form>
</ion-content>
